/* https://corhexa.com/verificador-contraste usado como verificador de contraste. */

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

h1 {
    width: 350px;
    margin: auto;
    display: block;
    margin-top: 90px;
    color: #5e2f2f;
    font-size: 30px;
    text-align: center;
}

#minhafoto {
    width: 250px;
    height: 250px;
    margin: auto;
    display: block;
    margin-top: 20px;
}

body {
    background-image: url(./img/Fundo-Branco_Tecnologico.jpg);
}


/* Rede sociais */
#facebook,
#instagran,
#github,
#linkedin,
#whatsapp {
    width: 40px;
    margin: 5px;
    margin-bottom: 30px;
}

#facebook:hover,
#instagran:hover,
#whatsapp:hover,
#github:hover,
#linkedin:hover {
    -xpedu-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}

#redessociais {
    display: flex;
    justify-content: center;
}

/* Menu */
#menu ul {

    font-size: 25px;
    display: flex;
    justify-content: end;
    list-style-type: none;
}

#menu a {
    color: #5e2f2f;
    font-weight: bold;
    text-decoration: none;
    margin-right: 40px;
}

h2 {
    color: #5e2f2f;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 50px;
}

#sobremin {
    margin: 300px;
}

#sobremim {
    background-color: white;
}

p {
    text-align: justify;
    font-size: 20px;
    margin: 20px;
}

#pessoafocada {
    width: 500px;
    float: right;
    margin: 30px;
}

#resumo {
    background-color: white;
}

#fatectaq {
    float: right;
    margin: 30px;
}

/* Mapa */
#mapa {
    margin-top: 20px;
}

iframe {
    width: 100%;
    height: 300px;
    border: 0;
    border-radius: 8px;
}

span {
    font-weight: bold;
}

/* Formulario Contato*/

.formulario .titulo {

    color: #5e2f2f;
    font-size: 1.5em;
    margin-bottom: 10px;
    padding-bottom: 10px;

}

.formulario {

    max-width: 500px;
    margin: auto;
    background: white;
    overflow: hidden;
    padding: 20px;


}

:focus {
    outline: none;
}

.label {

    float: left;
    width: 100%;
    margin-bottom: 25px;
    position: relative;

}

.input-bordas {

    font: 15px/24px "Lato", Arial, sans-serif;
    color: #333;
    width: 100%;
    box-sizing: border-box;
    letter-spacing: 1px;
    border: 1px solid #ccc;
    padding: 7px 14px 9px;
    transition: 0.4s;

}

.textarea {
    resize: none !important;
}

.input-bordas~.focus-border:before,
.input-bordas~.focus-border:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 2px;
    background-color: #3399FF;
    transition: 0.2s;
    transition-delay: 0.2s;
}

.input-bordas~.focus-border:after {
    top: auto;
    bottom: 0;
    right: auto;
    left: 0;
    transition-delay: 0.6s;
}

.input-bordas~.focus-border i:before,
.input-bordas~.focus-border i:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 0;
    background-color: #3399FF;
    transition: 0.2s;
}

.input-bordas~.focus-border i:after {
    left: auto;
    right: 0;
    top: auto;
    bottom: 0;
    transition-delay: 0.4s;
}

.input-bordas:focus~.focus-border:before,
.input-bordas:focus~.focus-border:after {
    width: 100%;
    transition: 0.2s;
    transition-delay: 0.6s;
}

.input-bordas:focus~.focus-border:after {
    transition-delay: 0.2s;
}

.input-bordas:focus~.focus-border i:before,
.input-bordas:focus~.focus-border i:after {
    height: 100%;
    transition: 0.2s;
}

.input-bordas:focus~.focus-border i:after {
    transition-delay: 0.4s;
}


.button-form {

    background-color: #39f;
    padding: 0.5em 1.3em;
    color: #fff;
    font-size: 1.2em;
    border: none;
    cursor: pointer;

}

.borda-inversa {

    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-property: background;
    transition-property: background;
    box-shadow: inset 0 0 0 2px #39f, 0 0 1px rgba(0, 0, 0, 0);

}

.borda-inversa:hover,
.borda-inversa:focus,
.borda-inversa:active {

    background: none;
    color: #39f;

}

/*Anti-span*/
.naoexibir {
    display: none;
}

/*Rodapé*/

footer {
    background-color: #e0dddd;
    color: #5e2f2f;
    padding: 10px;
    text-align: center;
    margin-left: 0px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    display: inline-block;
    margin: 0 10px;
}

a {
    color: #5e2f2f;
    text-decoration: none;
}

#copy {
    text-align: center;
}

#rodape {
    margin-top: 99px;
}

.button {
    padding: 5px;
    font-size: 15px;
    border-color: #5e2f2f;
    background-color: transparent;
    font: 200;
    color: #5e2f2f;
}