h1 {
    width: 350px;
    margin: auto;
    display: block;
    margin-top: 90px;
    color: gray;
}

#minhafoto {
    width: 250px;
    height: 250px;
    margin: auto;
    display: block;
    margin-top: 20px;
}

body {
    background-image: url(./img/Fundo-Branco_Tecnologico.jpg);
}


/* Rede sociais */
#facebook,
#instagran,
#github,
#linkedin,
#whatsapp {
    width: 40px;
    margin: 5px;
}

#facebook:hover,
#instagran:hover,
#whatsapp:hover,
#github:hover,
#linkedin:hover {
    -xpedu-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}

#redessociais {
    display: flex;
    justify-content: center;
}

/* Menu */
#menu ul {
    color: gray;
    font-size: 25px;
    display: flex;
    justify-content: end;
    list-style-type: none;

}

#menu a {
    color: gray;
    text-decoration: none;
    margin-right: 40px;
}


h2 {
    color: gray;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 50px;
}

#sobremin {
    margin: 300px;
}

p {
    text-align: justify;
    font-size: 20px;
    margin: 20px;
}

#pessoafocada {
    width: 500px;
    float: right;
    margin: 30px;
}

#fatectaq {
    float: right;
    margin: 30px;
}

/* Mapa */
#mapa {
    margin-top: 20px;
}

iframe {
    width: 100%;
    height: 300px;
    border: 0;
    border-radius: 8px;
}

span{
    font-weight: bold;
}

/* Contato */
#contato {
    display: block;
    justify-content: center;
    flex-direction: column;
}

#nome,
#empresa {
    width: 500px;
}

#recado {
    width: 500px;
    height: 250px;
    margin-bottom: 50px;
}